<!-- Source: https://github.com/egwkim/elastic-catenary/blob/main/index.html -->

<div id="control-panel">
  <div>
    total number of points<br>
    <input type="range" id="point-cnt-range" class="reset" min="3" max="101" value="50"
      oninput="this.nextElementSibling.value = this.value">
    <input type="number" id="point-cnt" class="reset" min="3" max="101" value="50"
      oninput="this.previousElementSibling.value = this.value">
  </div>

  <div>
    initial distance between adjacent points<br>
    <input type="range" id="distance-range" class="reset" step="0.1" min="0.1" max="100" value="15"
      oninput="this.nextElementSibling.value = this.value">
    <input type="number" id="distance" class="reset" step="0.1" min="0.1" max="100" value="15"
      oninput="this.previousElementSibling.value = this.value">
  </div>

  <div>
    toggleStretchOnly
    <input type="checkbox" id="toggle-stretch-only">
  </div>

  <div>
    toggleLine
    <input type="checkbox" id="toggle-line" checked>
  </div>

  <div>
    <br>
    <button onclick="reset();">reset</button>
    <button id="pause"
      onclick="clearInterval(interv); this.nextElementSibling.style.display=''; this.style.display='none';">pause</button>
    <button id="resume" onclick="loop(); this.previousElementSibling.style.display=''; this.style.display='none';"
      style="display: none;">resume</button>
  </div>
</div>